@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
  background: #000000;
  font-family: 'Anton', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

hr{
  color: #ffffff;
}

h1 {
  color: #ffffff;
}
h2{
  color: #ffffff;
}
h3{
  color: #ffffff;
}
h3 a{
  color: #ffffff;
}
p{
  color: #ffffff;
  font-size: 30px;
}

.name{
  font-size: 70px;
}

.navbar {
  position: fixed; /* Fija el nav en la ventana del navegador */
  top: 0; /* Lo coloca en la parte superior */
  left: 0; /* Lo coloca en la parte izquierda */
  padding-top: 5px;
  width: 100%; /* Ancho completo */
  background-color: #f0f0f0; /* Color de fondo del nav */
  padding: 10px; /* Espacio de relleno */
  z-index: 1;
}

.index{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.card{
  background: transparent;
}

.sobre{
  font-size: 20px;
}
.student{
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

 .btn-cv{
  border-radius: 50px;
}


.download{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.contacto a{
  text-decoration: none;
}
@media screen and (max-width:988px){
  .index{
    text-align: center;
  }
    
  .index h1{
    font-size: 90px;
  }

  .titulo{
    font-size: 100px;
  }
}
@media screen and (max-width:912px){
  .about{
    height: 90%;
  }
  .texto{
    font-size: 50px;
  }
}
@media screen and (max-width:820px) {
  .index h1{
    font-size: 60px;
  }

  .titulo{
    font-size: 55px;
  }

  .texto{
    font-size: 40px;
  }
}
@media screen and (max-width:414px) {
  .index{
    height: 114%;
  }
  .index h1{
    font-size: 40px;
  }
  .titulo{
    font-size: 50px;
  }
  .about{
    height: 90%;
  }

}
@media screen and (max-width:393px) {
  .index{
    height: 140%;
  }
}
@media screen and (max-width:390px) {
  .index{
    height: 140%;
  }
  .titulo{
    font-size: 40px;
  }
  .texto{
    font-size: 25px;
  }
}

@media screen and (max-width:375px) {
  .index{
    height: 110%;
  }
  .index h1{
    font-size: 40px;
  }
  .titulo{
    font-size: 50px;
  }
  .texto{
    font-size: 25px;
  }
  .about{
    height: 100%;
  }

}

@media screen and (max-width:360px) {
  .index{
    height: 125%;
  }
  .titulo{
    font-size: 35px;
  }
}