body{
    background: black;
}
.cardStudent{
  background: white;
}
.about{

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-cv{
  border-radius: 50px;
}
.Portafolio{
    height: 90vh;
}
main img{
  border: 7px solid aqua;
}
.download{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.img-mi{
    display: flex;
    justify-content: center;
    text-decoration: none;  
}