body{
    background: black;
}
.about{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.student{
  height: 90vh;
}
.btn-cv{
  border-radius: 50px;
}
.Portafolio{
    height: 90vh;
}
main img{
  border: 7px solid aqua;
}
.download{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.img-mi{
    display: flex;
    justify-content: center;
    text-decoration: none;  
}