---
 const personalImageAlt = "Juan Torres"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-violet-500 dark:[&>p>strong]:text-violet-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Juan Esteban Torres. Empecé en la
      programación haciendo mis primeras paginas web en la escuela. Actualmente estoy  <strong
        > Migrando SAAP de una de las empresas de prestación de servicio mas importante de Antioquia</strong
      >.
    </p>

    <!-- <p>
      Cuento con la experiencia en
      <strong>

      </strong>
    </p> -->

    <!-- <p>
      Algunos de mis éxitos incluyen <strong
        >colaborar con Mozilla para el desarrollo de las primeras apps en su
        sistema FirefoxOS</strong
      >. Aunque hoy está desaparecido fue un gran avance en el mundo del
      desarrollo web.
    </p> -->
  </div>

  <!-- <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%"> -->

</article>

