---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Jun 2021 - Ago 2021",
    title: "Soporte técnico",
    company: "Emtelco",
    description:
      "Dar soluciones a los clientes relacionados con fallas técnicas de internet y televisión. También Agendaba visitas técnicas relacionado para la reparación de los equipos o instalación de nuevos productos",
  },
  {
    date: "Jun 2022 - Actualmente",
    title: "Creación de apliciónes SAAP",
    company: "SOFTACTIVE",
    description:
      "Soy el encargado de crear aplicaciones SAP utilizando para el front angular y además desarrollo el  backend con express y Ts. También colaboro con mi equipo para realizar migraciones de software",
  },

]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
