---
const personalImageAlt = "Juan Torres"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/juan.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/ibarguen-dev/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola soy Ibarguen-dev
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-violet-400 [&>strong]:text-violet-500 [&>strong]:font-semibold dark:text-gray-300"
  >
 Soy <strong
      >Tecnico en desarrollo de software fullstack</strong
    > Enfoca En el desarrollo backend
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:jt158161@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/ibarguen-dev/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
