
.contactos h1{
    font-size: 4rem;
}
.contactos-section{
    display:  flex;
    gap: 50px;
    justify-content: center;
}

.contactos-section a {
    color: white;
    font-size: 50px;
}

.contactos-section a:hover{
    color: #af82ff;
}