.homeArticle{
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.homeArticle h1{
    font-size: 5rem;
}

.homeArticle p{
    font-size: 4.5rem;
}

@media (max-width:1073px) {
    .homeArticle h1{
        font-size: 4rem;
    }

    .homeArticle p{
        font-size: 3.5rem;
    }
}

@media (max-width:500px) {
    .homeArticle h1{
        font-size: 3.5rem;
    }

    .homeArticle p{
        font-size: 2.5rem;
    }
}

@media (max-width:450px) {
    .homeArticle h1{
        font-size: 2.5rem;
        text-align: center;
    }

    .homeArticle p{
        font-size: 1.5rem;
        text-align: center;
    }
}