.articleInfo{
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.articleInfo h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.articleInfo p{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 2rem;
}



@media (max-width:900px) {
    .articleInfo{
        height: 100%;
    }

}

@media (max-width:650px) {
    .articleInfo h1{
        font-size: 2.5rem;
    }
    .articleInfo p{
        font-size: 1.5rem;
    }
}
